<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <title>Upload Document</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
</br>
</br>
</br>
<!-------------------------------->
<div class="container">
    <h3>Upload Your Document here</h3>
    <div class="card" style="width:600px">
        <div th:if="${fileUploadMessage}" class="alert alert-success"
             role="alert" th:text=${fileUploadMessage}></div>
        <form class="border-class" action="#" th:action="@{/upload/add}" th:object="${document}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label class="control-label col-sm-4" >Document Name</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{documentName}" required/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4" >Document Type</label>
                <div class="col-sm-10">
                    <select th:field="*{documentType}">
                        <option th:each="type : ${allTypes}"
                                th:value="${type}"
                                th:text="${type}"></option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4" >Choose Document:</label>
                <div class="col-sm-10">
                    <input type="file" name="file" required/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>